.progress-width-0 {
    width: 0%;
}

.max-w-180 {
    max-width: 180px;
}

.max-w-150 {
    max-width: 150px;
}

.is-hidden {
    display: none;
}

.is-block {
    display: block;
}
